[Unit]
Description=Spider Oak backup service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
EnvironmentFile=-/etc/sysconfig/SpiderOak
User=%i
ExecStart=/usr/bin/SpiderOak --headless $SPIDEROAKOPTS &
